<div>
  <div class="container mx-auto px-[30px] lg:px-[150px]">
    <h1 class="text-[42px]">App de Trading</h1>
    <span>Flowbank Design System / UX/UI design / User testing</span>
  </div>
  <div class="pt-[60px] pb-[75px]">
    <img
    src="/flowbank_trading_app/flowbank_trading_app_4x.webp"
    alt="Flowbank trading app banner"
    class="aspect-[16/6] w-full object-cover"
  />
  </div>
  <div class="container mx-auto flex justify-between w-full px-[30px] lg:px-[150px]">
    <div class="flex flex-col"><span class="text-[16px] text-[#95969A]">Entreprise</span><span class="text-[18px]">Flowbank</span></div>
    <div class="flex flex-col"><span class="text-[16px] text-[#95969A]">Rôle</span><span class="text-[18px]">Senior Designer</span></div>
    <div class="flex flex-col">
      <span>Résumé du projet</span><span
        >Refonte de l’app existante et création d’un design system.</span>
    </div>
  </div>
</div>
